* {
    margin: auto;
    padding: 5px;
}

.box {
    width: 100px;
    height: 100px;
    padding: 20px;
    display: inline-block;
    text-align: center;
    margin: 5px;
    border: 2px solid #000000; 
    border-radius: 12px; 
    padding: 10px 20px;
}